.video-section {
    height: auto;
    padding: 30px 5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.video-section iframe {
    object-fit: cover;
    z-index: 50;
    width: 100%;
    height: 500px;
}

.video-section .navigation {
    margin-top: 10px;
    max-width: 100vw;
    width: 75%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.video-section .navigation li {
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background: #fff;
    padding: 3px 3px 0;
    opacity: 0.7;
    transition: 0.5s;
}
.video-section .navigation li:hover {
    opacity: 1;
}
.video-section .navigation li img {
    width: 120px;
    transition: 0.5s;
}
.video-section .navigation li img:hover {
    width: 200px;
}

@media (max-width: 950px) {
    #slider {
        height: 55vw;
    }
}
