section {
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(18, 18, 18, 1) 0%, rgba(74, 77, 78, 1) 100%, rgba(140, 138, 138, 1) 100%);
}

section .section-blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
}
section .section-blocks .translateY:hover {
    transition: 0.5s;
    transform: translateY(-6px);
}

section .section-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

section .section-title {
    text-align: center;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
}

section .section-description {
    text-align: center;
    color: #fff;
    font-size: 0.3em;
    width: 40vw;
    margin-top: 25px;
    font-weight: 250;
}

section a {
    text-decoration: none;
}

@media (max-width: 450px) {
    .section-title {
        font-size: 0.8em;
    }
}

@media (max-width: 850px) {
    .section-description {
        width: 80vw;
    }
}
